@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1{
    margin-left: 120px;
    font-family: "Roboto Slab";
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Roboto";
}
.paragraphy{
    width: 662px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.footer{
    margin-right: 300px;
    font-family: 'Roboto';
    align-items: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.hour{
    width:150px;
}
.picture{
    margin-left:120px;
}
@media (max-width:834px){
    .picture{
        display: none;
    }
    h1{
        font-size: 32px;
        margin-left: 60px;

    }
    .paragraphy{
        width: 383px;
        font-size: 14px;
        line-height: 21px;
    }
    .first{
        width: 181px;
        height: 182px;
        margin-bottom: 10px;
    }
    .hour{
        font-size: 14px;
        width: 120px;
    }
    .footer{
        margin-left:60px;
        width: 500px;
        justify-content:space-between;
    }
}
@media (max-width:375px){
    h1{
        font-size: 26px;
        margin-left:25px;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .paragraphy{
        font-size: 12px;
        width: 308px;
    }
    .first{
        width: 170px;
        height: 160px;
    }
    .hour{
        font-size: 11px;
        width: 90px;
    }
    .footer{
        flex-wrap: wrap;
        width:210px;
        margin: 0;   
    }
}