@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    padding-left: 100px;
    padding-right: 30px;
}
h1{
    font-family: "Roboto Slab", serif;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}
.paragraphy{
    width: 662px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 10px;
}
.footer{
    font-family: 'Roboto',sans-serif;
    align-items: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.hour{
    margin-inline: 15px;
}
.picture{
    margin-right: 10px;
}
@media (max-width: 1096px){
    .paragraphy{       
        font-size: 22px;
        line-height: 21px;
    }
}
@media (max-width: 1024px){
    body{
        padding-left: 60px;
        padding-right: 10px;
    }
    .picture{
        display: none;
        margin-right: 0px;
    }
    h1{
        font-size: 32px;
    }
    .paragraphy{
        width: 383px;
        font-size: 14px;
        line-height: 21px;
    }
    .first{
        width: 300px;
        height: 270px;
        margin-bottom: 10px;
    }
    .hour{
        font-size: 14px;
        margin-inline: 15px;
    }
    .footer{
        justify-content:space-between;
    }
}
@media (max-width:675px){
    body{
        padding-left: 30px;
        padding-right: 5px;
    }
    h1{
        font-size: 26px;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .paragraphy{
        font-size: 12px;
        width: 308px;
    }
    .first{
        width: 170px;
        height: 160px;
    }
    .hour{
        font-size: 11px;
        margin-inline: 15px;
    }
    .footer{
        flex-wrap: wrap;
        margin: 0;   
    }
}